/* Primary Text Color Start */
.text-primary-100 {
  color: var(--primary-100);
}

.text-primary-200 {
  color: var(--primary-200);
}

.text-primary-300 {
  color: var(--primary-300);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-primary-500 {
  color: var(--primary-500);
}

.text-primary-600 {
  color: var(--primary-600);
}

.text-primary-700 {
  color: var(--primary-700);
}

.text-primary-800 {
  color: var(--primary-800);
}

/* Primary Text Color End */
/* Primary Background Color Start */
.bg-primary-100 {
  background: var(--primary-100);
}

.bg-primary-200 {
  background: var(--primary-200);
}

.bg-primary-300 {
  background: var(--primary-300);
}

.bg-primary-400 {
  background: var(--primary-400);
}

.bg-primary-500 {
  background: var(--primary-500);
}

.bg-primary-600 {
  background: var(--primary-600);
}

.bg-primary-700 {
  background: var(--primary-700);
}

.bg-primary-800 {
  background: var(--primary-800);
}

/* Primary Background Color End */
/* secondary Text Color Start */

.text-secondary-100 {
  color: var(--secondary-100);
}

.text-secondary-200 {
  color: var(--secondary-200);
}

.text-secondary-300 {
  color: var(--secondary-300);
}

.text-secondary-400 {
  color: var(--secondary-400);
}

.text-secondary-500 {
  color: var(--secondary-500);
}

.text-secondary-600 {
  color: var(--secondary-600);
}

.text-secondary-700 {
  color: var(--secondary-700);
}

.text-secondary-800 {
  color: var(--secondary-800);
}

/* Secondary Text Color End */
/* Secondary Background Color Start */
.bg-secondary-100 {
  background: var(--secondary-100);
}

.bg-secondary-200 {
  background: var(--secondary-200);
}

.bg-secondary-300 {
  background: var(--secondary-300);
}

.bg-secondary-400 {
  background: var(--secondary-400);
}

.bg-secondary-500 {
  background: var(--secondary-500);
}

.bg-secondary-600 {
  background: var(--secondary-600);
}

.bg-secondary-700 {
  background: var(--secondary-700);
}

.bg-secondary-800 {
  background: var(--secondary-800);
}

/* secondary Background Color End */
/* Dark Text Color Start */
.text-darklight-100 {
  color: var(--darklight-100);
}

.text-darklight-200 {
  color: var(--darklight-200);
}

.text-darklight-300 {
  color: var(--darklight-300);
}

.text-darklight-400 {
  color: var(--darklight-400);
}

.text-darklight-500 {
  color: var(--darklight-500);
}

.text-darklight-600 {
  color: var(--darklight-600);
}

.text-darklight-700 {
  color: var(--darklight-700);
}

.text-darklight-800 {
  color: var(--darklight-800);
}

/* Dark Text Color End */
/* Dark Background Color Start */
.bg-darklight-100 {
  background: var(--darklight-100);
}

.bg-darklight-200 {
  background: var(--darklight-200);
}

.bg-darklight-300 {
  background: var(--darklight-300);
}

.bg-darklight-400 {
  background: var(--darklight-400);
}

.bg-darklight-500 {
  background: var(--darklight-500);
}

.bg-darklight-600 {
  background: var(--darklight-600);
}

.bg-darklight-700 {
  background: var(--darklight-700);
}

.bg-darklight-800 {
  background: var(--darklight-800);
}

/* Dark Background Color End */
/* Brown Text Color Start */
.text-brown-100 {
  color: var(--brown-100);
}

.text-brown-200 {
  color: var(--brown-200);
}

.text-brown-300 {
  color: var(--brown-300);
}

.text-brown-400 {
  color: var(--brown-400);
}

.text-brown-500 {
  color: var(--brown-500);
}

.text-brown-600 {
  color: var(--brown-600);
}

.text-brown-700 {
  color: var(--brown-700);
}

.text-brown-800 {
  color: var(--brown-800);
}

/* Brown Text Color End */
/* Brown Background Color Start */
.bg-brown-100 {
  background: var(--brown-100);
}

.bg-enin-blue {
  background: var(--enin-blue)
}

.bg-brown-200 {
  background: var(--brown-200);
}

.bg-brown-300 {
  background: var(--brown-300);
}

.bg-brown-400 {
  background: var(--brown-400);
}

.bg-brown-500 {
  background: var(--brown-500);
}

.bg-brown-600 {
  background: var(--brown-600);
}

.bg-brown-700 {
  background: var(--brown-700);
}

.bg-brown-800 {
  background: var(--brown-800);
}

.light-grey-bg {
  background-color: #f7f8fa;
}

/* Brown Background Color End */
/* Extra Text Color Start */
.text-extra-800 {
  color: var(--extra);
}

.lightblue-800 {
  color: var(--lightblue);
}

/* Extra Text Color End */
/* Extra Background Color Start */
.text-extra-800 {
  color: var(--extra);
}

.lightblue-800 {
  color: var(--lightblue);
}

/* Extra Background Color End */
/* Gradient Color End */
.gradient-1 {
  background-image: var(--gradient-1);
}

._light-grey-bg {
  background-color: #f7f8fa;
}

._light-blue-bg {
  background-color: #e6eeff;
}

.light-grey-bg2 {
  background-color: #dfeaff;
}

._dark-grey-bg {
  background-color: #8d8f9b;
  color: #fff;
}

._light-blue2-bg {
  background-color: #dfeaff;
}

._dark-blue-bg {
  background-color: #0042c7;
  color: #fff !important;
}

._purple-bg {
  background-color: #635bff;
  color: #fff;
}

._blue-grey-bg {
  background-color: #d8dae7;
}

/* Gradient Color End */